.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .auth-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .auth-box h2 {
    margin-bottom: 20px;
  }
  
  .auth-box form {
    display: flex;
    flex-direction: column;
  }
  
  .auth-box input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .auth-btn {
    padding: 10px;
    background-color: #48CFCB;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  